body{
    background:linear-gradient(30deg,grey,black) ;
}

header{
    position: static;
}

 header a{
    color: aquamarine;
 }

header nav a:hover{
    color: grey;
    background-color: aqua;
}

main ul{
    display: grid;
    width: 1250px;
    margin:0 auto 50px auto;
}

.grid-container{
    width: 100%;
    grid-template-rows:auto auto auto auto auto auto ;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

li:nth-of-type(3){
    grid-column:  1 / span 2;
    width: 70%;
}

main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    width: 500px;
}   

main li img{
    width: 300px;
    height: 280px;
    object-fit: fill;
}

.item-content h2{
    margin: 0;
}

.item-content{
    padding: 24px;
}

.item-content a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(0, 195, 255);
}

.item-content a:hover{
    text-decoration: underline;
}

.item-content i{
    color: rgb(0, 0, 0);
}
